@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

<h1 class="display-5">Project Working Details</h1>
<table class="table table-dark table-sm table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Employee</th>
            <th scope="col">Projects</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        @{
            int i = 0;
        }
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@(++i)</th>

                <td class="text-center my-3"><a href="/WorksFor/EmpProjDetails/@item.employee.SSN">@item.employee.FirstName @item.employee.LastName</a></td>
                
                <td>
                    <ul class="list-group list-group-flush">
                        @foreach(var project in item.projects)
                        {
                            <li class="list-group-item bg-dark text-bg-dark">
                            <a href="/WorksFor/ProjectDetails/@project.project.Pnum">
                                @project.project.PName | <span style="color: @project.color">@project.Hours</span> hours.
                            </a>
                            </li>
                            
                        }

                    </ul>
                </td>
                
            </tr>
        }

    </tbody>
</table>
<a class="btn btn-dark btn-xl" href="/WorksFor/ProjectHoursDetails">Show Projects Hours details</a>